<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.appname.qa.tests.LoginTests" />
			<class name="com.appname.qa.tests.PeopleUsersTests" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
